@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Madimi One";
  src: url("../assets/fonts/MadimiOne.ttf");
}

:root {
  --primary: #6562fc;
  --primary-light: #7880ff;
  --primary-opaque: #60627c;
  --gold: rgb(247, 182, 41);
  --bg-tab: #201a2c;
  --bg-tab-focus: #383148;
  --bg-tab-hover: rgb(67, 59, 87);

  /* tema light */
  --bg-light: #edf0ff;
  --bg-box-light: #fff;
  --border-box-light: #e3e2e3;
  --fg-light: #545454;

  /* tema dark */
  --fg-dark: #eee;
  --bg-dark: #171725;
  --bg-box-dark: #201a2c;
  --border-box-dark: #383148;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
}

html,
body {
  background: var(--bg-dark);
}

h1 {
  font-size: 2.875rem;
  font-weight: 800;
  color: var(--primary);
  background: linear-gradient(45deg, var(--primary), var(--primary-light));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
span {
  color: var(--fg-dark);
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background: var(--bg-light);
  }

  p,
  span {
    color: var(--fg-light);
  }
}
