@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Madimi One";
  src: url("../assets/fonts/MadimiOne.ttf");
}

:root {
  --primary: #6562fc;
  --primary-light: #7880ff;
  --primary-opaque: #60627c;
  --gold: #f7b629;
  --bg-tab: transparent;
  --bg-tab-selected: #383148;
  --bg-tab-hover: #433b57;
  --modal-light-bg: rgba(59, 59, 59, 0.943);
  --modal-dark-bg: rgba(17, 17, 17, 0.943);

  /* tema light */
  --bg-light: #edf0ff;
  --bg-box-light: #fff;
  --border-box-light: #e3e2e3;
  --fg-light: #545454;

  /* tema dark */
  --fg-dark: #eee;
  --bg-dark: #171725;
  --bg-box-dark: #201a2c;
  --border-box-dark: #383148;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
}

::selection {
  color: #fff;
  background: var(--primary-opaque);
  -webkit-text-fill-color: #fff !important;
}

html,
body {
  background: var(--bg-dark);
}

p,
span {
  color: var(--fg-dark);
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background: var(--bg-light);
  }

  p,
  span {
    color: var(--fg-light);
  }
}
